<body>
    <!-- /.preloader -->
    <div class="page-wrapper">
        <div class="topbar topbar--two">
            <div class="container">
                <div class="topbar__info">
                    <a href="#"><i class="icon-pin"></i> 03, AV.Bismarck, Q.Golf C/Gombe kinshasa, Réf. Terrain
                        maman
                        Yemo</a>
                    <a href="mailto:needhelp@company.com"><i class="icon-email"></i> contant@verifixs.com</a>
                </div>
                <!-- /.topbar__info -->

                <div class="topbar__social">
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-facebook"></i></a>
                </div>
                <!-- /.topbar__social -->
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /.topbar -->
        <nav class="main-menu main-menu--two">
            <div class="container">
                <div class="main-menu--two__inner">
                    <div class="main-menu__logo">
                        <a href="/">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1092.22 207.66" width="140"
                                height="41">
                                <defs>
                                    <style>
                                        .cls-1 {
                                            fill: #f4f6f9;
                                        }

                                        .cls-2 {
                                            fill: #33cc7c;
                                        }
                                    </style>
                                </defs>
                                <g id="Calque_2" data-name="Calque 2">
                                    <g id="COMP_02" data-name="COMP 02">
                                        <path class="cls-1"
                                            d="M216,207.66c-10.67,0-14.94,0-22.95-6.94l-11-9.61C171.93,182,169,176.16,169,162.28V112.9c0-13.61,1.87-21.61,12.55-30.69l9.07-7.74c12-10.41,17.89-10.68,28.3-10.68H242.4c12.54,0,18.42,1.34,28.29,9.35l10.41,8.27c11.74,9.34,13.34,19.22,13.34,33.36v20.56c0,14.68-2.4,18.95-17.61,18.95H194.62v8.54c0,2.4,1.87,5.6,3.73,7.47l6.41,6.94c3.47,3.74,8.54,4.81,17.09,4.81h55c8.54,0,17.61,1.87,17.61,12.81,0,11.21-10.14,12.81-17.61,12.81Zm-21.35-79h74.2V113.17c0-4.8.27-8.81-3.2-12l-9.88-8.54c-3.2-2.94-8.27-3.2-12.28-3.2H221.85c-4.81,0-8.82,0-13.08,2.93L200,98.76c-3.21,2.4-5.34,4.27-5.34,11.74Z" />
                                        <path class="cls-1"
                                            d="M352.8,82.74c0-9.34,1.07-18.95,12.81-18.95,10.14,0,12.81,8.54,12.81,17.08V91.29l20-16.55c7.21-5.88,14.68-10.95,22.69-10.95h20.55c9.88,0,18.15,3.21,25.09,10.14,8.54,8.55,11.48,17.36,11.48,29.1,0,8.81-1.6,17.88-12.54,17.88-9.35,0-13.08-7.47-13.08-15.75,0-4.27,0-7.47-2.67-11.21-3.21-4.53-9.35-4.53-15.48-4.53H427c-4.8,0-8.27,2.4-12.81,6.14l-35.77,29.62V190c0,8.81-1.86,17.62-12.81,17.62S352.8,198.85,352.8,190Z" />
                                        <path class="cls-1"
                                            d="M591,182h19.22c8.54,0,17.61,1.87,17.61,12.81,0,11.21-10.14,12.81-17.61,12.81H545c-7.47,0-17.62-1.6-17.62-12.81,0-10.94,9.08-12.81,17.62-12.81h20.29V89.42H545c-7.47,0-17.62-1.6-17.62-12.81,0-11,9.08-12.82,17.62-12.82h27c14.68,0,19,2.67,19,17.89ZM552.25,12c0-9.07,5.07-12,12-12h14.68c6.94,0,12,2.94,12,12V24.29c0,9.07-5.07,12-12,12H564.26c-6.94,0-12-2.94-12-12Z" />
                                        <path class="cls-1"
                                            d="M692.91,89.15H685.7c-7.47,0-17.62-1.6-17.62-12.81,0-11,9.08-12.82,17.62-12.82h7.21V60.05c0-14.68.8-25.35,12.27-36.56,12.28-11.75,23.76-12.81,39.51-12.81H762c8.81,0,18.68.8,18.68,12.81,0,10.94-8.81,12.81-17.61,12.81h-20c-17.35,0-24.56,3.47-24.56,22.15v5.07h22.69c8.54,0,17.61,1.87,17.61,12.82,0,11.21-10.14,12.81-17.61,12.81H718.53V189.78c0,8.8-1.87,17.61-12.81,17.61s-12.81-8.81-12.81-17.61Z" />
                                        <path class="cls-1"
                                            d="M876.17,182h19.21c8.54,0,17.62,1.87,17.62,12.81,0,11.21-10.14,12.81-17.62,12.81H830.26c-7.48,0-17.62-1.6-17.62-12.81,0-10.94,9.08-12.81,17.62-12.81h20.28V89.42H830.26c-7.48,0-17.62-1.6-17.62-12.81,0-11,9.08-12.82,17.62-12.82h27c14.68,0,18.95,2.67,18.95,17.89ZM837.46,12c0-9.07,5.08-12,12-12h14.68c6.94,0,12,2.94,12,12V24.29c0,9.07-5.07,12-12,12H849.48c-6.94,0-12-2.94-12-12Z" />
                                        <path class="cls-1"
                                            d="M1012.14,135.86,972.9,89.42c-2.93-3.74-6.13-7.21-6.13-12,0-7.2,5.6-13.61,12.81-13.61,7.74,0,12.81,8,17.35,13.61l32.56,40,32.56-40c4.54-5.6,9.61-13.61,17.36-13.61,7.2,0,12.81,6.41,12.81,13.61,0,4.81-3.2,8.28-6.14,12l-39.24,46.44,39.24,46.44c2.94,3.74,6.14,7.21,6.14,12,0,7.21-5.61,13.35-12.81,13.35-7.75,0-12.82-7.74-17.36-13.35l-32.56-40-32.56,40c-4.54,5.61-9.61,13.35-17.35,13.35-7.21,0-12.81-6.14-12.81-13.35,0-4.8,3.2-8.27,6.13-12Z" />
                                        <path class="cls-2"
                                            d="M101.88,0C92.27,0,88.54,4.8,88.54,13.35v42.7L49.3,158l-23-59.9a11.23,11.23,0,0,0-10.48-7.19H11.24A11.22,11.22,0,0,0,.79,106.24L36,195.91c2.66,6.68,5.07,11.75,13.34,11.75S60,202.59,62.65,195.91l51-130a27.56,27.56,0,0,0,1.6-10.41V13.35C115.23,4.8,111.49,0,101.88,0Z" />
                                    </g>
                                </g>
                            </svg>
                        </a>
                    </div>
                    <!-- /.main-menu__logo -->
                    <div class="main-menu__nav">
                        <ul class="main-menu__list">
                            <li><a href="/">Accueil</a></li>
                            <li><a href="/#abouts">A Propos</a></li>
                            <li><a href="/#services">Services</a></li>
                            <li><a href="/#contacts">Contact</a></li>
                        </ul>
                    </div>
                    <!-- /.main-menu__nav -->
                    <div class="main-menu__right">
                        <a href="#" class="main-menu__toggler mobile-nav__toggler">
                            <i class="fa fa-bars"></i>
                        </a>
                        <a href="#" class="main-menu__search">
                            <?xml version="1.0" encoding="utf-8"?>

                            <!-- Uploaded to: SVG Repo, www.svgrepo.com, Generator: SVG Repo Mixer Tools -->
                            <svg width="25px" height="25px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                <title>i</title>
                                <g id="Complete">
                                    <g id="user-add">
                                        <g>
                                            <path d="M17,21V19a4,4,0,0,0-4-4H5a4,4,0,0,0-4,4v2" fill="none"
                                                stroke="#ffffff" stroke-linecap="round" stroke-linejoin="round"
                                                stroke-width="2" />
                                            <circle cx="9" cy="7" r="4" fill="none" stroke="#ffffff"
                                                stroke-linecap="round" stroke-linejoin="round" stroke-width="2" />
                                            <line x1="17" y1="11" x2="23" y2="11" fill="none" stroke="#ffffff"
                                                stroke-linecap="round" stroke-linejoin="round" stroke-width="2" />
                                            <line x1="20" y1="8" x2="20" y2="14" fill="none" stroke="#ffffff"
                                                stroke-linecap="round" stroke-linejoin="round" stroke-width="2" />
                                        </g>
                                    </g>
                                </g>
                            </svg>
                        </a>
                        <a href="#" class="thm-btn main-menu__btn">
                            <?xml version="1.0" encoding="utf-8"?>
                            <!-- Uploaded to: SVG Repo, www.svgrepo.com, Generator: SVG Repo Mixer Tools -->
                            <svg width="15px" height="15px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M4,4h6v6H4V4M20,4v6H14V4h6M14,15h2V13H14V11h2v2h2V11h2v2H18v2h2v3H18v2H16V18H13v2H11V16h3V15m2,0v3h2V15H16M4,20V14h6v6H4M6,6V8H8V6H6M16,6V8h2V6H16M6,16v2H8V16H6M4,11H6v2H4V11m5,0h4v4H11V13H9V11m2-5h2v4H11V6M2,2V6H0V2A2,2,0,0,1,2,0H6V2H2M22,0a2,2,0,0,1,2,2V6H22V2H18V0h4M2,18v4H6v2H2a2,2,0,0,1-2-2V18H2m20,4V18h2v4a2,2,0,0,1-2,2H18V22Z" />
                            </svg> Scanner
                        </a>
                        <!-- /.thm-btn -->
                    </div>
                    <!-- /.main-menu__right -->
                </div>
                <!-- /.main-menu--two__inner -->
            </div>
            <!-- /.container -->
        </nav>
        <!-- /.main-menu -->

        <div class="stricky-header stricked-menu main-menu main-menu--two">
            <div class="sticky-header__content"></div>
            <!-- /.sticky-header__content -->
        </div>

        <section class="slider-one slider-one--three">
            <div class="thm-owl__carousel thm-owl__carousel--custom-nav owl-carousel owl-theme owl-dot-style-one"
                data-owl-nav-prev=".slider-one__carousel__btn__left"
                data-owl-nav-next=".slider-one__carousel__btn__right" data-owl-options='{
        		"loop": true,
        		"animateOut": "fadeOut",
        		"animateIn": "fadeIn",
        		"items": 1,
        		"autoplay": 6000,
        		"autoplayTimeout": 7000,
        		"smartSpeed": 500,
        		"nav": false,
        		"dots": false,
        		"margin": 0
        	}'>
                <div class="item">
                    <div class="slider-one__item">
                        <div class="slider-one__image"
                            style="background-image: url(assets/images/backgrounds/benefit-bg-2-1.png);">
                        </div>
                        <!-- /.slider-one__image -->
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-12 text-center">
                                    <h2 class="slider-one__title">Inscrivez vous gratuitement !</h2>
                                    <!-- /.slider-one__title -->
                                    <p class="slider-one__text">Votre crédibilité assurée et garantie.</p>
                                    <!-- /.slider-one__text -->
                                    <div class="slider-one__btns">
                                        <a href="#" class="thm-btn"><svg style="margin-right: 5px;" width="15px"
                                                height="15px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                                <title>i</title>
                                                <g id="Complete">
                                                    <g id="user-add">
                                                        <g>
                                                            <path d="M17,21V19a4,4,0,0,0-4-4H5a4,4,0,0,0-4,4v2"
                                                                fill="none" stroke="#ffffff" stroke-linecap="round"
                                                                stroke-linejoin="round" stroke-width="2" />
                                                            <circle cx="9" cy="7" r="4" fill="none" stroke="#ffffff"
                                                                stroke-linecap="round" stroke-linejoin="round"
                                                                stroke-width="2" />
                                                            <line x1="17" y1="11" x2="23" y2="11" fill="none"
                                                                stroke="#ffffff" stroke-linecap="round"
                                                                stroke-linejoin="round" stroke-width="2" />
                                                            <line x1="20" y1="8" x2="20" y2="14" fill="none"
                                                                stroke="#ffffff" stroke-linecap="round"
                                                                stroke-linejoin="round" stroke-width="2" />
                                                        </g>
                                                    </g>
                                                </g>
                                            </svg>S'inscrire maintenant</a>
                                    </div>
                                    <!-- /.slider-one__btns -->
                                </div>
                                <!-- /.col-lg-12 -->
                            </div>
                            <!-- /.row -->
                        </div>
                        <!-- /.container -->
                    </div>
                    <!-- /.slider-one__item -->
                </div>
                <!-- /.item -->
                <div class="item">
                    <div class="slider-one__item">
                        <div class="slider-one__image"
                            style="background-image: url(assets/images/backgrounds/benefit-bg-2-1.png);">
                        </div>
                        <!-- /.slider-one__image -->
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-12 text-center">
                                    <h2 class="slider-one__title">Inscrivez vous gratuitement !</h2>
                                    <!-- /.slider-one__title -->
                                    <p class="slider-one__text">Votre crédibilité assurée et garantie.</p>
                                    <!-- /.slider-one__text -->
                                    <div class="slider-one__btns">
                                        <a href="#" class="thm-btn"><svg style="margin-right: 5px;" width="15px"
                                                height="15px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                                <title>i</title>
                                                <g id="Complete">
                                                    <g id="user-add">
                                                        <g>
                                                            <path d="M17,21V19a4,4,0,0,0-4-4H5a4,4,0,0,0-4,4v2"
                                                                fill="none" stroke="#ffffff" stroke-linecap="round"
                                                                stroke-linejoin="round" stroke-width="2" />
                                                            <circle cx="9" cy="7" r="4" fill="none" stroke="#ffffff"
                                                                stroke-linecap="round" stroke-linejoin="round"
                                                                stroke-width="2" />
                                                            <line x1="17" y1="11" x2="23" y2="11" fill="none"
                                                                stroke="#ffffff" stroke-linecap="round"
                                                                stroke-linejoin="round" stroke-width="2" />
                                                            <line x1="20" y1="8" x2="20" y2="14" fill="none"
                                                                stroke="#ffffff" stroke-linecap="round"
                                                                stroke-linejoin="round" stroke-width="2" />
                                                        </g>
                                                    </g>
                                                </g>
                                            </svg>S'inscrire maintenant</a>
                                    </div>
                                    <!-- /.slider-one__btns -->
                                </div>
                                <!-- /.col-lg-12 -->
                            </div>
                            <!-- /.row -->
                        </div>
                        <!-- /.container -->
                    </div>
                    <!-- /.slider-one__item -->
                </div>
                <!-- /.item -->
            </div>
            <!-- /.owl-carousel -->
            <div class="slider-one__carousel__btn">
                <button class="slider-one__carousel__btn__left">
                    <i class="fa fa-angle-left"></i>
                </button>
                <button class="slider-one__carousel__btn__right">
                    <i class="fa fa-angle-right"></i>
                </button>
            </div>
            <!-- /.slider-one__carousel__btns -->
        </section>
        <!-- /.slider-one -->


        <!-- /.service-three -->
        <section class="about-four pt-120 pb-120" style="background-color: white;" id="abouts">
            <div class="container">
                <div class="row row-gutter-y-50">
                    <div class="col-lg-6">
                        <div class="about-four__content">
                            <div class="block-title text-left">
                                <p class="block-title__tagline">A Propos de <strong>VERIFIXS</strong></p>
                                <!-- /.block-title__tagline -->
                                <h2 class="block-title__title">Solution de due Diligence</h2>
                                <!-- /.block-title__title -->
                            </div>
                            <!-- /.block-title -->
                            <div class="about-four__box">
                                <div class="about-four__box__icon">
                                    <i class="icon-loan"></i>
                                </div>
                                <!-- /.about-four__box__icon -->
                                <div class="about-four__box__content">
                                    <h3 class="about-four__box__title">Votre crédibilité assurée et garantie
                                    </h3>
                                    <!-- /.about-four__box__title -->
                                </div>
                                <!-- /.about-four__box__content -->
                            </div>
                            <!-- /.about-four__text -->
                            <div class="row row-gutter-y-20">
                                <div class="col-md-6">
                                    <div class="about-four__feature">
                                        <div class="about-four__feature__content">
                                            <div class="about-four__feature__icon">
                                                <i class="icon-confirmation"></i>
                                            </div>
                                            <!-- /.about-four__feature__icon -->
                                            <h3 class="about-four__feature__title">Banques</h3>
                                            <!-- /.about-four__feature__title -->
                                        </div>
                                        <!-- /.about-four__feature__content -->
                                        <div class="about-four__feature__text">Devenez crédible face à votre banque
                                        </div>
                                        <!-- /.about-four__feature__text -->
                                    </div>
                                    <!-- /.about-four__feature -->
                                </div>
                                <!-- /.col-md-6 -->
                                <div class="col-md-6">
                                    <div class="about-four__feature">
                                        <div class="about-four__feature__content">
                                            <div class="about-four__feature__icon">
                                                <i class="icon-confirmation"></i>
                                            </div>
                                            <!-- /.about-four__feature__icon -->
                                            <h3 class="about-four__feature__title">Partenaires</h3>
                                            <!-- /.about-four__feature__title -->
                                        </div>
                                        <!-- /.about-four__feature__content -->
                                        <div class="about-four__feature__text">Devenez crédible face à vos partenaires
                                            en affaire
                                        </div>
                                        <!-- /.about-four__feature__text -->
                                    </div>
                                    <!-- /.about-four__feature -->
                                </div>
                                <!-- /.col-md-6 -->
                            </div>
                            <!-- /.row -->
                            <div class="about-four__btns">
                                <a href="https://account.verifixs.com/index.html" target="_blank"
                                    class="thm-btn thm-btn--dark-hover">
                                    <svg style="margin-right: 5px;" width="15px" height="15px" viewBox="0 0 24 24"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <title>i</title>
                                        <g id="Complete">
                                            <g id="user-add">
                                                <g>
                                                    <path d="M17,21V19a4,4,0,0,0-4-4H5a4,4,0,0,0-4,4v2" fill="none"
                                                        stroke="#ffffff" stroke-linecap="round" stroke-linejoin="round"
                                                        stroke-width="2" />
                                                    <circle cx="9" cy="7" r="4" fill="none" stroke="#ffffff"
                                                        stroke-linecap="round" stroke-linejoin="round"
                                                        stroke-width="2" />
                                                    <line x1="17" y1="11" x2="23" y2="11" fill="none" stroke="#ffffff"
                                                        stroke-linecap="round" stroke-linejoin="round"
                                                        stroke-width="2" />
                                                    <line x1="20" y1="8" x2="20" y2="14" fill="none" stroke="#ffffff"
                                                        stroke-linecap="round" stroke-linejoin="round"
                                                        stroke-width="2" />
                                                </g>
                                            </g>
                                        </g>
                                    </svg> INSCRIVEZ-VOUS GRATUITEMENT</a>
                                <!-- /.thm-btn -->
                            </div>
                            <!-- /.about-four__btns -->
                        </div>
                        <!-- /.about-four__content -->
                    </div>
                    <!-- /.col-lg-6 -->
                    <div class="col-lg-6">
                        <div class="about-four__image">
                            <!-- /.about-four__image__bg -->
                            <div class="about-four__image__shape"></div>
                            <!-- /.about-four__image__shape -->
                            <img src="assets/images/sites/about.png" alt="">

                            <!-- /.about-four__image__caption -->
                            <div class="about-four__image__floated">Finance</div>
                            <!-- /.team-details__floated -->
                        </div>
                        <!-- /.about-four__image -->
                    </div>
                    <!-- /.col-lg-6 -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container -->
        </section>


        <section class="about-six pt-120 pb-120 bg-light">
            <div class="container">
                <div class="row row-gutter-y-60">
                    <div class="col-lg-6">
                        <div class="about-six__image">
                            <img src="assets/images/sites/undraw_Questions_re_1fy7.png" alt="">

                            <!-- /.about-six__image__caption -->
                        </div>
                        <!-- /.about-six__image -->
                    </div>
                    <!-- /.col-lg-6 -->
                    <div class="col-lg-6">
                        <div class="about-six__content">
                            <div class="block-title text-left">
                                <p class="block-title__tagline">Verifixs</p>
                                <!-- /.block-title__tagline -->
                                <h2 class="block-title__title">Pourquoi devriez-vous choisir notre entreprise ?</h2>
                                <!-- /.block-title__title -->
                            </div>
                            <!-- /.benefit-one__text -->
                            <div class="benefit-one__box">

                                <!-- /.benefit-one__box__icon -->
                                <div class="benefit-one__box__content">
                                    <h3 class="benefit-one__box__title">Quoi ?</h3>
                                    <!-- /.benefit-one__box__title -->
                                    <p class="benefit-one__box__text">VERIFIX est une application où les clients peuvent
                                        saisir toutes leurs informations. VERIFIX vérifiera les informations avec les
                                        données existantes et fournira une réponse dans les 72 heures. Le bureau de
                                        VERIFIX est
                                        également disponible pour ceux qui ont besoin d'aide.
                                    </p>
                                    <!-- /.benefit-one__box__text -->
                                </div>
                                <!-- /.benefit-one__box__content -->
                            </div>
                            <!-- /.benefit-one__box -->
                            <div class="benefit-one__box">

                                <!-- /.benefit-one__box__icon -->
                                <div class="benefit-one__box__content">
                                    <h3 class="benefit-one__box__title">Pourquoi ?</h3>
                                    <!-- /.benefit-one__box__title -->
                                    <p class="benefit-one__box__text">Pour assurer la transparence aux institutions
                                        avant de conclure un partenariat, ou de fournir un crédit, etc. Les institutions
                                        peuvent référer leurs clients à VERIFIX afin d'obtenir un rapport de diligence
                                        raisonnable.
                                    </p>
                                    <!-- /.benefit-one__box__text -->
                                </div>
                                <!-- /.benefit-one__box__content -->
                            </div>
                            <!-- /.benefit-one__box -->
                            <div class="benefit-one__box">

                                <!-- /.benefit-one__box__icon -->
                                <div class="benefit-one__box__content">
                                    <h3 class="benefit-one__box__title">Comment ?</h3>
                                    <!-- /.benefit-one__box__title -->
                                    <p class="benefit-one__box__text">Avec plus de 2000 données existantes qui sont
                                        vérifiées et toutes les institutions disposeront d'un point de contact pour
                                        fournir des informations. VERIFIX répondra dans les 72 heures et le code QR sera
                                        disponible pendant
                                        5 jours pour être partagé avec l'institution.</p>
                                    <!-- /.benefit-one__box__text -->
                                </div>
                                <!-- /.benefit-one__box__content -->
                            </div>
                            <!-- /.benefit-one__box -->
                            <!-- /.about-six__author -->
                        </div>
                        <!-- /.about-six__content -->
                    </div>
                    <!-- /.col-lg-6 -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container -->
        </section>
        <!-- /.about-one -->
        <section class="blog-two pt-120 pb-120" id="services">
            <div class="container">
                <div class="block-title text-center">
                    <p class="block-title__tagline">Ce que nous offrons !</p>
                    <!-- /.block-title__tagline -->
                    <h2 class="block-title__title">Services</h2>
                    <!-- /.block-title__title -->
                </div>
                <!-- /.block-title -->
                <div class="row row-gutter-y-30">
                    <% for(let i=0; i < diligences.length; i++){ %>
                        <div class="col-lg-4 col-md-12 col-sm-12">
                            <div class="blog-card">
                                <div class="blog-card__image">

                                    <!-- /.blog-card__date -->
                                    <img src="<%= diligences[i].diligence_img %>" alt="Which growth strategies you should
                                adopt">
                                    <a href="/services/<%= diligences[i].diligence_id %>"></a>
                                </div>
                                <!-- /.blog-card__image -->
                                <div class="blog-card__content">

                                    <!-- /.blog-card__meta -->
                                    <h3 class="blog-card__title">
                                        <a href="/services/<%= diligences[i].diligence_id %>">
                                            <%= diligences[i].diligence_title.substring(0, 18)+"..." %>
                                        </a>
                                    </h3>
                                    <p class="blog-card__text">
                                        <%= diligences[i].diligence_desc.substring(0, 60) + "..." %>
                                    </p>
                                    <a href="/services/<%= diligences[i].diligence_id %>" class="blog-card__link">En
                                        savoir
                                        plus</a>
                                    <!-- /.blog-card__link -->
                                </div>
                                <!-- /.blog-card__content -->
                            </div>
                            <!-- /.blog-card -->
                        </div>
                        <% } %>

                </div>
                <!-- /.row -->

            </div>
            <!-- /.container -->
        </section>


        <section class="contact-one pt-120 pb-120 bg-light" id="contacts">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="contact-one__content">
                            <div class="block-title">
                                <p class="block-title__tagline">contact</p>
                                <!-- /.block-title__tagline -->
                                <h2 class="block-title__title">Veuillez nous contacter en cas de besoin !</h2>
                                <!-- /.block-title__title -->
                            </div>
                            <!-- /.block-title -->


                            <!-- /.contact-one__social -->
                        </div>
                        <!-- /.contact-one__content -->
                    </div>
                    <!-- /.col-lg-4 -->
                    <div class="col-lg-8">
                        <form action="https://thegenius.co/html/finlon/assets/sendemail.php"
                            class="form-one contact-form-validated" novalidate="novalidate">
                            <div class="row row-gutter-y-20 row-gutter-x-20">
                                <div class="col-md-6">
                                    <input type="text" placeholder="Nom complet" name="name">
                                </div>
                                <!-- /.col-md-6 -->
                                <div class="col-md-6">
                                    <input type="email" placeholder="e-mail" name="email">
                                </div>
                                <!-- /.col-md-6 -->
                                <div class="col-md-6">
                                    <input type="text" placeholder="Téléphone" name="phone">
                                </div>
                                <!-- /.col-md-6 -->
                                <div class="col-md-6">
                                    <input type="text" placeholder="Objet" name="subject">
                                </div>
                                <!-- /.col-md-6 -->
                                <div class="col-md-12">
                                    <textarea placeholder="Message..." name="message"></textarea>
                                </div>
                                <!-- /.col-md-6 -->
                                <div class="col-md-12">
                                    <button type="submit" class="thm-btn">Soumettre votre requête</button>
                                    <!-- /.thm-btn -->
                                </div>
                                <!-- /.col-md-6 -->
                            </div>
                            <!-- /.row -->
                        </form>
                    </div>
                    <!-- /.col-lg-8 -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container -->
        </section>
        <%- include('../partials/subscribe.ejs')%>



            <%- include('../partials/footer.ejs')%>

    </div>
    <!-- /.page-wrapper -->
    <%- include('../partials/nav_mobile.ejs')%>
        <!-- /.mobile-nav__wrapper -->
        <a href="#" data-target="html" class="scroll-to-target scroll-to-top"><i class="fa fa-angle-up"></i></a>
        <%- include('../partials/scripts.ejs')%>
</body>